// --color
$color-light: #f5f5f5;
$color-dark: #212529;

//typhography
// --paragraf
$fs-p-1: 24px;
$fs-p-2: 18px;
$fs-p-3: 16px;
// --heading
$fs-h-1: 72px;
$fs-h-2: 64px;
$fs-h-3: 54px;
$fs-h-4: 36px;
$fs-h-5: 28px;
// --font-weight
$fw-bold: 700;
$fw-medium: 500;
$fw-reguler: 400;
